{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ poll.title }}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'poll.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </head>
    <body>
        <!-- Header Section -->
        <section id="header">
            <header>
                <!-- Brand Name -->
                <h1><a href="/">Vote It!</a></h1>
                
                <!-- Navigation -->
                <nav>
                    <ul>
                        <li><a href="/new" class="current">Home</a></li>
                        <li><a href="/mypolls">My Polls</a></li>
                        <li><a href="/followpolls">Follow Polls</a></li>
                    </ul>
                </nav>
            </header>
        </section>

        <section id="container">
            <main>
                <h1>Cash Poll Created by  <span style="text-transform: capitalize;">{{ poll.admin }}</span> - {{ poll.title }} </h1>

                {% if poll.admin == request.user %}
                <form method="post">
                    {% csrf_token %}
                    <label>
                        Add Contestant: <br>
                        <input type="text" name="contestant">
                    </label>
                    <button name="add_contestant">Save</button>
                </form>
                <hr>
                {% endif %}

                {% if start_voting_process %}
                <div id="contestants-list" style="display:none ;">
                    {% for contestant in contestants %}
                        <div class="contestant">{{ contestant.name }}</div>
                    {% endfor %}
                </div>
            
                <div id="contestants-votes" style="display:none ;">
                    {% for contestant in contestants %}
                        <div class="votes">{{ contestant.votes }}</div>
                    {% endfor %}
                </div>
                <h1>
                    Cast your Vote
                </h1>
                <form id="vote" method="post">
                    {% csrf_token %}
                    {% for message in messages %}
                        <h3 style="color:red">{{ message}}</h3>
                    {% endfor %}
                    <br>
                    <section id="vote-container">
                        {% for contestant in contestants %}
                        <section>
                            <input type="radio" name="vote" id="{{contestant.id}}" value="{{contestant.id}}">
                            <label for="{{contestant.id}}">
                                {{ contestant.name }}
                            </label>
                        </section>
                        {% endfor %}
                    </section>
                    <br>
                    <button>Vote</button>
                </form>
                <br>
                <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                {% endif %}
            </main>
            <aside>
                <h1>Description</h1>
                <article>
                    {{ poll.description }}
                </article>

                <h1>Poll Starts</h1>
                <span>{{poll.time_start}}</span>
                <h1>Poll Ends</h1>
                <span>{{ poll.time_end }}</span>
            </aside>
        </section>    
        <script src="{% static 'chartjs.js' %}"></script>
    </body>
</html>