#container{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}
#container main{
    width: 60%;
}
#container aside{
    width: 30%;
}
button{
    margin-top: 4px;
    width: 150px;
}
hr{
    background-color: #00f;
    height: 1px;
    outline: none;
}

#vote{
    display: block;
}

#vote input{
    display: none;
}
#vote label{
    background-color: #00f;
    color: #fff;
    margin-right: 7px;
    min-width: 20px;
    text-align: center;
    width: fit-content;
    padding: 7px;
    cursor: pointer;
}

#vote-contain{
    display: flex;
    flex-direction: row;
    
}
#vote-contain section, #vote-contain section label{
    display: block;
    color: #00f;
}
#vote-contain section label{
    width: fit-content;
    height: 200px;
    background-color: #ddd;
    padding: 10px;
    margin-right: 18px;
    border-radius: 10px;
    border: 3px solid #00f;
}
figure{
    padding: 0;
    margin: 0;
}

figure img{
    width: 150px;
    height: 150px;
    margin-bottom: 7px;
}
#vote input:checked~label{
    background-color: #00f;
    color: #fff;
}
