{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Polls</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        #container{
            margin-left: 100px;
            margin-right: 100px;
        }
        #container a h1, span{
            color: blue;
            font-size: 25px;
        }
        span{
            font-size: 15px;
        }
    </style>
</head>
<body>
    <!-- Header Section -->
    <section id="header">
        <header>
            <!-- Brand Name -->
            <h1><a href="/">Vote It!</a></h1>
            
            <!-- Navigation -->
            <nav>
                <ul>
                    <li><a href="/new">Home</a></li>
                    <li><a href="/mypolls">My Polls</a></li>
                    <li><a href="/followpolls"  class="current">Follow Polls</a></li>
                </ul>
            </nav>
        </header>
    </section>

    <section id="container">
        <h1>Polls you follow</h1>
        <section id="polls">
            {% for followpoll in followpolls %}
            <section>
                <a href="/poll/{{ followpoll.poll.unique_id }}">
                    <h1>{{ followpoll.poll.title }}
                        <br><span>Poll created by <span style="text-transform: capitalize;">{{ followpoll.poll.admin }}</span></span><br>
                        <span>30 other people are following this Poll</span>
                    </h1>
                    
                </a>
            </section>
            <hr>
            {% endfor %}
        </section>
    </section>
</body>
</html>