<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Poll</title>
    <style>
        div,h1,h3{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
        }
        label{
            display: block;
        }
    </style>
</head>
<body>
    <h1>Create a new Poll</h1>
    <h3>These informations cannot be edited later.</h3>
    <div id="create-poll">
        <form method="post">
            {% csrf_token %}
            <div class="pages page1">
                <label>
                    Name of Poll:
                    <input type="text" name="poll_name" required>
                </label><br>
                <label>
                    Poll starts:
                    <input type="datetime-local" name="poll_st" id="poll_st" required>
                </label><br>
                <label>
                    Poll Ends:
                    <input type="datetime-local" name = "poll_end" id="poll_end" required>
                </label><br>
            </div>
            <small>Check your inputs before you proceed!</small><br>
            <button>Create Poll</button>
        </form>
    </div>

    <script>

        // Define Variables

        const poll_st = document.querySelector("#poll_st")
        const poll_end = document.querySelector("#poll_end")
        const date = new Date()
        const year = date.getFullYear()
        const month = String(date.getMonth() + 1).padStart(2, "0")
        const day = String(date.getDate()).padStart(2, "0")
        const hour = String(date.getHours()).padStart(2, "0")
        const minutes = String(date.getMinutes()).padStart(2, "0")
        const sub_btn = document.querySelector("button")

        poll_st.min = poll_end.min = `${year}-${month}-${day}T${hour}:${minutes}`
        
        sub_btn.addEventListener("click", function(e){
            if(poll_st.value >= poll_end.value){
                e.preventDefault()
            }
        })
    </script>
</body>
</html>