{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Poll</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        #header{
            width: 100vw;

        }
        textarea{
            width: 100%;
            resize: none;

        }
        #create-box{

            min-height: 100vh;
            height: max-content;
            overflow-y:hidden;
        }
        textarea{
            outline: none;
            padding: 5px;
            font-size: large;
            border: 2px solid #00f;
            height: 180px;
        }

    </style>
</head>
<body>
    <!-- Header Section -->
    <section id="header">
        <header>
            <!-- Brand Name -->
            <h1><a href="/">Vote It!</a></h1>
            
            <!-- Navigation -->
            <nav>
                <ul>
                    <li><a href="/new" class="current">Home</a></li>
                    <li><a href="/mypolls">My Polls</a></li>
                    <li><a href="/followpolls">Follow Polls</a></li>
                </ul>
            </nav>
        </header>
    </section>

    <section id="create-box">
        <h1>Create New Poll</h1>
        <form method="post">
            {% csrf_token %}
            <label>Name of Poll: <br>
                <input type="text" name="poll_name" required>
            </label>
            <section id="time-info">
                <label>Poll Starts: <br>
                    <input type="datetime-local" name="poll_st" id="poll_st" required>
                </label><br>
                <label>Poll Ends: <br>
                    <input type="datetime-local" name = "poll_end" id="poll_end" required>
                </label>
            </section>
            <label>Description: <br>
                <textarea name="description" cols="30" rows="10"></textarea>
            </label>
            <section>
                <label>
                    Who can Vote?
                </label> <br>
                <label><input type="radio" name="who_can_vote" value="anyone">Anyone</label>
                <label><input type="radio" name="who_can_vote" value="registered">Registered Users only</label>
            </section>

            <button>Create Poll</button>
        </form>
    </section>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>